{{#if (media 'isDesktop')}}
  <div class="ui container">
    <div class="ui centered grid">
      <div class="ten wide column">
        {{#if loader}}
          <div class="ui segment">
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Adding user to Database</div>
            </div>
          </div>
        {{else}}
          <div class="ui green raised segment">
            <h1 class="ui header">Register here</h1>
            <form class="ui form">
              <div class="required field">
                <label>Username</label>
                {{input value=this.model.email type="text" placeholder="Enter username..."}}
              </div>
              <div class="required field">
                <label>Enter Password</label>
                {{input value=this.model.password type="password"  placeholder="Enter password..."}}
              </div>
              <div class="required field">
                <label>Enter Password Again</label>
                {{input value=this.secondPassword type="password"  placeholder="Enter second password..."}}
              </div>
              <div class="field">
                <label for="">Accept Terms and Conditions</label>
                <div class="ui toggle checkbox">
                  {{input checked=this.confirm type="checkbox" name="public"}}
                  <label>
                    {{#link-to "terms-and-condition"}}
                      Terms and Conditions
                    {{/link-to}}
                  </label>
                </div>
              </div>
              <br>
              <button class="ui inverted circular green button" type="submit" {{action "register"}}>Submit</button>
            </form>
          </div>
        {{/if}}
      </div>
      <div class="six wide column"></div>
    </div>
  </div>
{{/if}}
{{#if (media 'isTablet')}}
  <div class="ui container">
      <div class="ui centered grid">
        <div class="sixteen wide column">
          {{#if loader}}
          <div class="ui segment">
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Adding user to Database</div>
            </div>
          </div>
        {{else}}
          <div class="ui green raised segment">
            <h1 class="ui header">Register here</h1>
            <form class="ui form">
              <div class="required field">
                <label>Username</label>
                {{input value=this.model.email type="text" placeholder="Enter username..."}}
              </div>
              <div class="required field">
                <label>Enter Password</label>
                {{input value=this.model.password type="password"  placeholder="Enter password..."}}
              </div>
              <div class="required field">
                <label>Enter Password Again</label>
                {{input value=this.secondPassword type="password"  placeholder="Enter second password..."}}
              </div>
              <div class="field">
                <label for="">Accept Terms and Conditions</label>
                <div class="ui toggle checkbox">
                  {{input checked=this.confirm type="checkbox" name="public"}}
                  <label>
                    {{#link-to "terms-and-condition"}}
                      Terms and Conditions
                    {{/link-to}}
                  </label>
                </div>
              </div>
              <br>
              <button class="ui inverted circular green button" type="submit" {{action "register"}}>Submit</button>
            </form>
          </div>
        {{/if}}
        </div>
      </div>
  </div>
{{/if}}
{{#if (media 'isMobile')}}
  <div class="ui container">
      <div class="ui centered grid">
        <div class="sixteen wide column">
          {{#if loader}}
          <div class="ui segment">
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Adding user to Database</div>
            </div>
          </div>
        {{else}}
          <div class="ui green raised segment">
            <h1 class="ui header">Register here</h1>
            <form class="ui form">
              <div class="required field">
                <label>Username</label>
                {{input value=this.model.email type="text" placeholder="Enter username..."}}
              </div>
              <div class="required field">
                <label>Enter Password</label>
                {{input value=this.model.password type="password"  placeholder="Enter password..."}}
              </div>
              <div class="required field">
                <label>Enter Password Again</label>
                {{input value=this.secondPassword type="password"  placeholder="Enter second password..."}}
              </div>
              <div class="field">
                <label for="">Accept Terms and Conditions</label>
                <div class="ui toggle checkbox">
                  {{input checked=this.confirm type="checkbox" name="public"}}
                  <label>
                    {{#link-to "terms-and-condition"}}
                      Terms and Conditions
                    {{/link-to}}
                  </label>
                </div>
              </div>
              <br>
              <button class="ui inverted circular green button" type="submit" {{action "register"}}>Submit</button>
            </form>
          </div>
        {{/if}}
        </div>
      </div>
  </div>
{{/if}}